@charset "UTF-8";
/* CSS Document */
/*font: font-style font-variant font-weight font-size line-height font-family;*/

#hp-slideshow { height:372px; width:960px; float:left; background: url("/va_files/2012/images/slider/bg-hp-slider.jpg") no-repeat scroll 0 0 #0a2b62; }


#gallery {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    width: 960px;
	height:373px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
	letter-spacing:.04em;
}

div#slides {
	height: 308px;
	overflow: hidden;
	position: relative;
	width: 960px;
}
.slide {
	float: left;
	height: 308px;
	left: 0;
	position: relative;
	right: 0;
	width: 638px;
}
.slide div.description {
    background: none no-repeat scroll 0px 0px transparent;
    display: block;
    float: right;
    height: 308px !important;
    left: 639px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 17px;
    width: 322px;
    z-index: 50;
}

#hp-slideshow h3 {font: normal normal normal 1.4em/150% "Myriad Pro",Arial,Helvetica,sans-serif; color:#FFFFFF; margin-bottom:3px;}

.slide .description p {
    color: #FFFFFF;
    font-size: 1.15em;
    line-height: 145%;
    text-align: left !important;
	
}


#menu {
    background-image: url("/va_files/2012/images/slider/hp-slider-bckgrnd-nonactive.jpg");
    background-repeat: repeat-x;
    height: 65px;
	width:960px;
}
#gallery ul {
    margin: 0;
    padding: 0;
}
#gallery li {
    background-image: url("/va_files/2012/images/slider/hp-slider-bckgrnd-nonactive.jpg");
    background-repeat: repeat-x;
    display: inline;
    float: left;
    font-size: 0.95em;
    height: 65px;
    list-style: none outside none;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 184px;
}
#gallery li.inact:hover {
    background-image: url("/va_files/2012/images/slider/hp-slider-bckgrnd-nonactive.jpg");
    background-repeat: repeat-x;
}
#gallery li.act, li.act:hover {
    background-image: url("/va_files/2012/images/slider/hp-slider-bckgrnd-active.jpg");
    background-repeat: repeat-x;
}
#gallery li.act a {
    background-image: url("/va_files/2012/images/slider/hp-slider-bckgrnd-notch-active.jpg"); background-repeat:no-repeat;
    color: #FFFFFF;
    cursor: default;
}
#gallery .fbar {
    background: url("/va_files/2012/images/slider/divider.png") no-repeat scroll right center transparent;
    width: 2px;
}
#gallery li a {
    display: block;
    height: 42px;
    padding-top: 21px;
    width: 184px;
}
#gallery a img {
    border: medium none;
}
#gallery a:link {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif; letter-spacing:.02em;
}
#gallery h1 {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 15px;
}
#gallery h2 {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-size: 0.85em;
    font-weight: normal;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 15px;
}
#main {
    margin: 15px auto;
    position: relative;
    text-align: center;
    width: 920px;
}
#gallery a, #gallery a:visited {
    color: #8DE1FB;
    outline: medium none;
    text-decoration: none;
}
#gallery a:hover {
    text-decoration: underline;
	height:65px;
}

#gallery p {
    padding: 10px;
    text-align: center;
}

.text-control {height:320px; width:230px; float:left; margin:20px 20px 0 45px;}


.text-control p {
	float:left;
    margin-left:-10px;
	padding: 0;
    text-align: left;
	font-family: normal normal normal 1.1em "Myriad Pro",Arial,Helvetica,sans-serif; color:#FFFFFF;
}

#gallery .text-control a {
    color: #8DE1FB;
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    text-decoration: none;
}


#gallery .text-control a:link {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif; text-decoration:none;
}
#gallery .text-control a:hover {
    color: #8DE1FB;
    outline: medium none;
    text-decoration: underline;
}

#gallery .text-control a:visited {
    color: #8DE1FB;
    outline: medium none;
    text-decoration: none;
}

a.text-control   {font-family: "Myriad Pro",Arial,Helvetica,sans-serif; color:#FFFFFF; text-decoration:none;}

a.text-control:link {font-family: "Myriad Pro",Arial,Helvetica,sans-serif; color:#FFFFFF;}

a.text-control:visited { color: #8DE1FB; outline: medium none; text-decoration: none;}

a.text-control:hover {text-decoration: underline;}

#gallery3tab {
    font-family: Georgia,"Times New Roman",Times,serif;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 738px;
}
#gallery3tab ul {
    margin: 0;
    padding: 0;
}
#gallery3tab li {
    background-image: url("/va_files/2012/images/slider/slider-bckgrnd-nonactive.jpg");
    background-repeat: repeat-x;
    display: inline;
    font-size: 0.85em;
    height: 55px;
    list-style: none outside none;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 184px;
}
#gallery3tab li.inact:hover {
    background-image: url("/va_files/2012/images/slider/slider-bckgrnd-nonactive.jpg");
    background-repeat: repeat-x;
}
#gallery3tab li.act, li.act:hover {
    background-image: url("/va_files/2012/images/slider/slider-bckgrnd-active.jpg");
    background-repeat: repeat-x;
}
#gallery3tab li.act a {
    background-image: url("/va_files/2012/images/slider/slider-bckgrnd-notch-active.jpg");
    color: #FFFFFF;
    cursor: default;
}
#gallery3tab .fbar {
    background: url("/va_files/2012/images/slider/divideriiiii.png") no-repeat scroll right center transparent;
    width: 2px;
}
#gallery3tab li a {
    display: block;
    height: 42px;
    padding-top: 13px;
    width: 184px;
}
#gallery3tab a img {
    border: medium none;
}
#gallery3tab a:link {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
}
#gallery3tab h1 {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 15px;
}
#gallery3tab h2 {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-size: 0.95em;
    font-weight: normal;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 15px;
}
#gallery3tab a, #gallery a:visited {
    color: #8DE1FB;
    outline: medium none;
    text-decoration: none;
}
#gallery3tab a:hover {
    text-decoration: underline;
}
#gallery3tab p {
    padding: 10px;
    text-align: center;
}
#slider-controls {
    left: 4px;
    position: absolute;
    top: 271px;
    z-index: 200;
}