#vapu-title {
	width:400px; 
	float:right; 
	margin: 30px -30px 0 0;
	color: white;
	font-size: 16pt;
	font-weight: bold;
	}
	
powered-by {
	font-weight: bold;
}
#summary-figure {
	background-color: white;
	width: 100%;
}
#tablecontainer {
	top: 0;
	right: 0;
	left: 3px;
    display: block;
    height: 100%;    
    border-bottom: 1px solid black;
}
#tableviewport {
	display: block;
	height: 100%;
    margin: 5px 5px 5px 5px;
    font-size: small;
}
#table_canvas {
    width: 100%;
    height: 100%;    
}
#table-name-heading {
	font-size: 16pt;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 35px; 
	margin-bottom: 20px; 
}
.table-name-heading {
	font-size: 16pt;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 35px; 
	margin-bottom: 20px; 
}
#patient-select-div, #wound-select-div {
	font-size: 16pt;
	font-weight: bold;
	color: white;
	text-align: left;
	margin-bottom: 20px; 
}
#patient-dropdown {
	font-size: 12pt;
}
#wound-dropdown {
	font-size: 12pt;
}
.dt_button_class {
	height: 13 px;
}
td.dtRight {
	text-align: right;
}
td.dtLeft {
	text-align: left;
}
table.display thead th div.DataTables_sort_wrapper {
	text-transform: none;
}
table.display td {
	padding: 2px 10px 2px 5px;
}
.ColVis {
	float: left;
	padding: 0px 5px;
	margin-right: 3px;
	height: 0px;
}
.ColVis_Button {
	height: 20px;
	padding: 1px 5px;
}
div.DTTT_container {
	margin: 0 15px 0 5px;
}
button.DTTT_button {
	height: 20px;
	padding: 1px 10px;
}
#content-main {height:100%; width:960px; float:left; background-color:#000B34;  }
#prev-event-summary td {
	color: white;
	font-size: 12pt;
}
#turn-warning td {
	color: red;
}
#prev-summary-table th {
	font-size: 12pt;
	text-transform: none;
}
.prev-summary-table-subhead {
	color: white;
	font-size: 12pt;
}
.prev-summary-table-left {
	background-color: #010c29;
	color: white;
	font-size: 12pt;
	text-align: left;
	padding-left: 30px;
}
.prev-summary-table-right {
	background-color: #010c29;
	color: white;
	font-size: 12pt;
	text-align: right;
}
.assessment-tabs div#tabs-measurements, div#tabs-segmentation, div#tabs-thermal {
	background-color:#000B34;
}
.pupc-nav-one-col div {
	width: 100px;
}
#nav-prevention-menu a.first-level {width: 130px;}
#nav-prevention-menu:hover a.first-level { background: url("/static/images/homesprite.png") no-repeat scroll -656px -34px transparent;}
ul #nav-prevention-menu div.topnav-dd-outer {
    margin-left: -132px;
}
ul #nav-prevention-menu div.topnav-dd-outer-featured {
    margin-left: -7px;
}
ul #nav-prevention-menu div.topnav-dd-outer-three-col {
    margin-left: -322px;
}
ul #nav-prevention-menu div.topnav-dd-outer-three-col-featured {
    margin-left: -547px;
}
ul #nav-prevention-menu div.topnav-dd-inner { background: url("/static/images/bg-nav-right-edge-trans2.png") no-repeat scroll left bottom transparent; margin-right: 9px;}

#nav-patient-menu a.first-level {width: 130px;}
#nav-patient-menu:hover a.first-level {background: url("/static/images/homesprite.png") no-repeat scroll -65px -34px transparent;}

#nav-assessment-menu a.first-level {width: 130px;}
#nav-assessment-menu:hover a.first-level {background: url("/static/images/homesprite.png") no-repeat scroll -756px -34px transparent;}
ul #nav-assessment-menu div.topnav-dd-outer {
    margin-left: -68px;
}
ul #nav-assessment-menu div.topnav-dd-outer-featured {
    margin-left: -496px;
}
ul #nav-assessment-menu div.topnav-dd-inner { background: url("/static/images/bg-nav-right-edge-trans2.png") no-repeat scroll left bottom transparent; margin-right: 9px;}
